# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Clicky Mouse.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub Repositories\Create-With-Code-Project-Five\Clicky Mouse\.idea\.idea.Clicky Mouse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
